/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.*.yml
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
.php-cs-fixer.cache
auth.json
database/test_database
public/legacy/www/qwoffice/static
public/legacy/www/qwoffice/estimates
public/legacy/www/qwoffice/fonts
public/legacy/www/qwoffice/bootstrap
public/legacy/www/qwoffice/css
public/legacy/www/qwoffice/chromeless_35.js
public/legacy/www/qwoffice/themes
public/legacy/www/qwoffice/js
public/legacy/www/glyphicons
public/legacy/www/assets
public/assets
public/glyphicons
public/storage
public/qwoffice/bootstrap
public/qwoffice/static
public/qwoffice/css
public/qwoffice/estimates
public/qwoffice/fonts
public/qwoffice/js
public/qwoffice/themes
public/qwoffice/chromeless_35.js
database/seeders/StoredEventsTableSeeder.php.bak
*.bak
rr
.rr.yaml
resources/legacy/qwoffice/filemanager
**config.override.php
resources/legacy/.vscode
digapp.code-workspace